@charset 'utf-8';

@font-face {
    font-family: "DM sans";
    src: url("../fonts/DMSans-Regular.ttf") format(truetype);
    src: url("../fonts/DMSans-Bold.ttf") format(truetype);
}

:root {
    /*variáveis CSS*/
    --font-page: "DM sans", Helvetica, sans-serif;
    --font-alert: Helvetica, sans-serif;
    --background-highlight: #000000bb;
    --red-netflix: #e50914;
    --color-text: #757575;
    --color-highlight: rgb(188, 188, 188);
    --background-input: #383838;
    --msg-error: #ffae00;
    --backgroud-series: url("../images/netflix-background-page.jpg");
}

* {
    /*Reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-page);
    background-color: #000000;
    color: var(--color-text);
    overflow: auto;
}

.highlight-items-color {
    color: var(--color-highlight);
}

a {
    color: var(--color-highlight);
}
a:hover {
    text-decoration: underline;
}

.wrapper-content-no-footer {
    height: 100%;
}

.logo-netflix {
    margin: 20px 0 20px 5%;
    width: 100px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bolder;
    color: #ffffff;
}

#content-main-page {
    margin: 10px 5% 50px;
}

.position-input {
    background-color: var(--background-input);
    color: #ffffff;
    font-size: 0.9em;
    display: block;
    margin: 15px auto 0;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    overflow: auto;
    border: none;
    border-radius: 5px;
}

/*Retira as "bordas" de <input> padrão (box shadow + outline) de alguns navegadores*/
.position-input:focus {
    border: 2px solid var(--color-highlight);
    outline: 0;
    box-shadow: 0 0 0 0;
}

button#button-action {
    background-color: var(--red-netflix);
    color: #ffffff;
    font: bold 1.1em var(--font-page);
    display: block;
    margin: 40px auto 0;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

button#button-action:focus {
    border: 2px solid var(--color-highlight);
    outline: 0;
    box-shadow: 0 0 0 0;
}

.after-button-flex-container {
    font-size: 0.8em;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.after-button-flex-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-remember-me {
    margin-left: 5px;
}

#alternative-login-create-account {
    margin-top: 50px;
}

#wrapper-facebook-login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#facebook-icon {
    width: 20px;
    height: 20px;
}

#facebook-login {
    font-size: 0.8em;
    display: block;
    margin-left: 7px;
}

.footer-wrapper {
    font-size: 0.9em;
    padding: 0% 4% 0% 4%;
    border-top: 1px solid var(--color-text);
}

.wrapper-footer-interno {
    max-width: 799px;
    margin: auto;
}

p#footer-help-number {
    font-size: 18px;
    display: inline-block;
    margin: 20px 0 20px;
}

.group-links-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px;
    max-height: 350px;
}

.group-links-footer > li {
    width: 175px;
    margin: 10px 0;
}

/*Adapta o link de ajuda da area de login para mobile <= 320px*/
@media only screen and (max-width: 290px) {
    .after-button-flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .position-input {
        font-size: 0.9em;
    }

    .help-area-login {
        margin-top: 10px;
    }

    .footer-wrapper {
        font-size: 0.9em;
        padding: 10px;
    }

    p#footer-help-number {
        font-size: 15px;
    }
}

/*Exibição tablet e desktop*/
@media only screen and (min-width: 701px) {
    body {
        background: #000 var(--backgroud-series) center center;
        background-size: cover;
        overflow: auto;
    }

    .logo-netflix {
        width: 180px;
        margin: 20px 0 20px 30px;
    }

    /*Conteiner parent de todo conteúdo da página para posicionar footer no final
    * da página (conteúdo pequeno e footer height dinâmico)
    */
    .wrapper-total-content {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .wrapper-content-no-footer {
        flex: 1;
    }

    #content-main-page {
        background-color: var(--background-highlight);
        max-width: 450px;
        margin: auto;
        padding: 50px 70px 150px;
        border-radius: 7px;
    }

    /*Segundo Elemento do Container flex*/
    footer {
        background-color: var(--background-highlight);
        flex: 1;
        width: 100%;
        max-height: 200px;
        margin-top: 50px;
    }

    .footer-wrapper {
        background-color: none;
        margin-top: 0px;
        border: none;
    }

    .wrapper-footer-interno {
        max-width: 799px;
    }

    .group-links-footer > li {
        width: 200px;
    }
}